# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Build artifacts
dist/
build/
-14Sections.md
.DS_Store
*.pdf
docs/scratch.md
docs/linkedi_post.md
